data/Schedual.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!ELEMENT Course (Instructor, Room, Hour)>

<!ELEMENT Day (#PCDATA)>
<!ATTLIST Day
    type (Monday|Tuesday|Wednesday|Thursday|Friday) "Monday">

<!ELEMENT Hour (#PCDATA)>

<!ELEMENT Instructor (#PCDATA)>

<!ELEMENT Room (#PCDATA)>




